.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-secondary {
    margin-left: 47%;
}

strong {
    display: flex;
    justify-content: center;
    align-items: center;
}