h1 {
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
}

.card {
    width: 70%;
    margin-left: 20px;
}

.wills {
    margin-top: 10px;
}

.card-body {
    text-align: center;
}